form {
  width: 100%;
}

#result-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 2em;
}

#result-area p {
  font-size: 1.15em;
  color: var(--color);
  animation: fadeIn .5s;
}

#loader {
  width: 3em;
  height: 3em;
  border: 4px solid var(--accent-bg-color);
  border-left: 4px solid transparent;
  border-radius: 50%;
  animation: spin .75s infinite ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #result-area {
    padding-top: 1em;
    flex-direction: column;
  }
  #result-area p {
    font-size: 1em;
  }
}