#result-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-top: 2em;
}

#result-area p {
  font-size: 1.15em;
  font-weight: bold;
  color: #293264;
  animation: fadeIn .5s;
}

#loader {
  width: 3em;
  height: 3em;
  border: 4px solid #404a7f;
  border-left: 4px solid transparent;
  border-radius: 50%;
  animation: spin .75s infinite ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}