.question-area {
  padding: 1.5em 0;
  border-bottom: 1px solid var(--blend-in-color);
}

.question-area.correct {
  border-bottom: 1px solid var(--success);
}

.question-area.incorrect {
  border-bottom: 1px solid var(--error);
}

.question-area h2 {
  font-size: 1.25em;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  font-weight: 600;
  margin-bottom: 1em;
}

.answers {
  display: flex;
  gap: 0.8em;
}

.answers div {
  position: relative;
  min-width: 7em;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
}

input[type="radio"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.answers label {
  display: block;
  width: 100%;
  padding: 0.5em 0.7em;
  border: 1px solid var(--blend-in-color);
  border-radius: 0.8em;
  transition: .5s background-color;
}

input[type="radio"]:enabled:focus ~ label, input[type="radio"]:enabled:hover ~ label {
  background-color: var(--blend-in-color);
}

.answers div.selected > label {
  background-color: var(--blend-in-color);;
  font-weight: 600;
}

.answers div.correct > label {
  background-color:var(--success);
}

.answers div.incorrect > label {
  background-color: var(--error);
}

.answers div.not-selected {
  opacity: 0.5;
}

.answer div.selected > label, .answers div.correct > label, .answers div.incorrect > label {
    border: 1px solid transparent;
}

@media (max-width: 768px) {
  .question-area {
    padding: 1em 0;
  }

  .question-area h2 {
    font-size: 1em;
    margin-bottom: 0.7em;
  }

  .answers {
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .answers div {
    font-size: 0.8em;
    width: 45%;
  }

  .answers label {
      padding: 0.3em 0.5em;
  }
}
